* {
    margin: 7px;
    box-sizing: border-box;
    list-style: none;
}

body, html {
    overflow-x: hidden;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #333;
}

.brand_image {
    width: 60px;
}

.navbar {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url('https://daks2k3a4ib2z.cloudfront.net/5527a015715879bc5767ece2/55299d1b0108cf394df61d5a_sheep.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.nav_links {
    color: whitesmoke;
    display: flex;
    align-items: center;
}

.links {
    cursor: pointer;
}

.nav_body {
    color: whitesmoke;
    display: block;
    width: 75%;
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    text-align: right;
}

.nav_body h1 {
    font-size: 8vmin;
}

.rowAd {
    display: flex;
    align-items: center;
}

.adContent {
    width: 50%;
    height: 600px;
    /* min-height: 600px; */
    text-align: center;
    vertical-align: middle;
    padding: 100px 10px;
    background-color: whitesmoke;
}

.rowAd .adContent h1 {
    font-size: 50px;
    font-weight: 600;
    margin: 30px auto;
    letter-spacing: -2px;
}

.rowAd .adContent h4 {
    font-size: 25px;
    margin: 30px auto;
}

.rowAd .adContent .btn {
    text-decoration: none;
    font-size: small;
    font-weight: 100;
}

.rowAd .adContent p {
    color: #5c5c5c;
}

.adImage {
    height: 600px;
    width: 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.btn {
    display: inline-block;
    margin: 30px auto;
    width: 150px;
    color: #333;
    transition: all 0.5s ease;
    padding: 20px;
    border: 2px solid black;
}

.btn:hover {
    background-color: #5c5c5c;
    color: whitesmoke;
}

.adImage1 {
    background-image: url('https://daks2k3a4ib2z.cloudfront.net/5527a015715879bc5767ece2/55290b3f3869f6db4ed16c57_desk1.jpeg');
}

.adImage2 {
    background-image: url('https://daks2k3a4ib2z.cloudfront.net/5527a015715879bc5767ece2/55290b56b9c6422c42122a2b_desk3.jpeg');
}

.stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.stats .stat h1 {
    font-size: 50px;
}

.stats .stat p {
    color: #5c5c5c;
}

@media (max-width: 850px) {
    .rowAd {
        flex-direction: column;
    }

    .adContent {
        padding-top: 50px;
        width: 100%;
    }

    .adImage {
        width: 100%;
        height: 350px;
    }
}

/* url('https://daks2k3a4ib2z.cloudfront.net/5527a015715879bc5767ece2/55290b76b9c6422c42122a30_desk2.jpeg') */